<!-- SEARCH FORM -->
{{ form_open('search', 'method="GET" class="form-inline my-3"') }}
<div class="input-group">
    <input class="form-control form-control-sidebar" type="search" name="q" placeholder="Search" aria-label="Search">
    <div class="input-group-append">
        <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
        </button>
    </div>
</div>
{{ form_close() }}

<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="{{ site_url('home') }}" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p>Home</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ site_url('accounts') }}" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>Accounts</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ site_url('products') }}" class="nav-link">
                <i class="nav-icon fa-solid fa-basket-shopping"></i>
                <p>Products</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ site_url('launchpacks') }}" class="nav-link">
                <i class="nav-icon fas fa-cubes"></i>
                <p>Launchpacks</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ site_url('orders') }}" class="nav-link">
                <i class="nav-icon fas fa-shopping-basket"></i>
                <p>Orders</p>
            </a>
        </li>
        <li class="nav-header">DC</li>
        <li class="nav-item">
            <a href="{{ site_url('deliveries') }}" class="nav-link">
                <i class="nav-icon fas fa-truck"></i>
                <p>Deliveries</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ site_url('shipments') }}" class="nav-link">
                <i class="nav-icon fa-brands fa-ups"></i>
                <p>Shipments</p>
            </a>
        </li>
        <li class="nav-header">MENU</li>
        <li class="nav-item">
            <a href="{{ site_url('users') }}" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>Users</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ site_url('settings') }}" class="nav-link">
                <i class="nav-icon fas fa-cogs"></i>
                <p>Settings</p>
            </a>
        </li>
    </ul>
</nav>

