{% extends "layouts/main.twig" %}

{% set title = 'Profil' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ title }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ base_url('home') }}">Dashboard</a></li>
                        <li class="breadcrumb-item active">{{ title }}</li>
                    </ol>
                </div>
            </div>
            <nav class="navbar navbar-expand navbar-white navbar-light border mb-2 p-1">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{{ base_url('home') }}" class="nav-link">
                            <i class="fas fa-reply"></i> Wróć
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-info"></i> Uwaga!</h5>
                Wszelkie zmiany w profilu będą widoczne po ponownym zalogowaniu się do aplikacji.
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-edit"></i> Edycja profilu</h3>
                </div>
                {{ form_open() }}
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="text" name="name" id="inputEmail" class="form-control{{ validation.email ? ' is-invalid'}}" value="{{ set_value('email', user.email) }}" placeholder="Email address" disabled="disabled">
                        {% if validation.email %}
                            <span class="error invalid-feedback">{{ validation.email }}</span>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputFirstName">First name</label>
                                <input type="text" name="first_name" id="inputFirstName" class="form-control{{ validation.first_name ? ' is-invalid'}}" value="{{ set_value('first_name', user.first_name) }}" placeholder="First name">
                                {% if validation.first_name %}
                                    <span class="error invalid-feedback">{{ validation.first_name }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputLastName">Last name</label>
                                <input type="text" name="last_name" id="inputLastName" class="form-control{{ validation.last_name ? ' is-invalid'}}" value="{{ set_value('last_name', user.last_name) }}" placeholder="Last name">
                                {% if validation.last_name %}
                                    <span class="error invalid-feedback">{{ validation.last_name }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputJobTitle">Job title</label>
                        <input type="text" name="job_title" id="inputJobTitle" class="form-control{{ validation.job_title ? ' is-invalid'}}" value="{{ set_value('job_title', user.job_title) }}" placeholder="Job title">
                        {% if validation.job_title %}
                            <span class="error invalid-feedback">{{ validation.job_title }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control{{ validation.password ? ' is-invalid'}}" placeholder="Password">
                        {% if validation.password %}
                            <span class="error invalid-feedback">{{ validation.password }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmPassword">Confirm Password</label>
                        <input type="password" name="confirm_password" id="inputConfirmPassword" class="form-control{{ validation.confirm_password ? ' is-invalid'}}" placeholder="Confirm Password">
                        {% if validation.confirm_password %}
                            <span class="error invalid-feedback">{{ validation.confirm_password }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer clearfix">
                    <a href="{{ base_url() }}" class="btn btn-default"><i class="fa fa-times"></i> Cancel</a>
                    <button type="submit" name="update_profile" class="btn btn-primary float-right" value="true">
                        <i class="fas fa-save"></i> Save
                    </button>
                </div>
                {{ form_close() }}
            </div>
        </div>
    </section>
{% endblock %}
