<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="light">

    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            <title>{% block title %}Page Title{% endblock %} &ndash; {{ config.appName|default('App Name') }}</title>
            <link rel="shortcut icon" type="image/x-icon" href="{{ base_url('favicon.ico') }}">
            {% block styles %}{% endblock %}
            <link href="{{ base_url('plugins/bootstrap-icons/bootstrap-icons.min.css') }}" rel="stylesheet">
            <link href="{{ base_url('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ base_url('plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ base_url('css/styles.min.css') }}" rel="stylesheet">
        {% endblock %}
    </head>

    <body class="d-flex flex-column h-100">
        
        {% include 'layouts/partials/header.twig' %}
        <main class="flex-shrink-0">
            {% block content %}{% endblock %}
        </main>
        {% include 'layouts/partials/footer.twig' %}
        
        <script src="{{ base_url('plugins/jquery/jquery.min.js') }}"></script>
        <script src="{{ base_url('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        {% block scripts %}{% endblock %}
        <script src="{{ base_url('js/application.min.js') }}"></script>
        {% include 'layouts/partials/show_alerts.twig' %}
    </body>

</html>
